{% extends "base.html" %}
{% block content %}
<style type="text/css">
.float-num{
    border-radius:3px; 
    border-style: solid; 
    border-color:#17a2b8; 
    color:#17a2b8;
    border-width:1px;
}
</style>
<!-- banner -->
  <div class="container-fluid p-0" style="height:91vh; background-image: 
  url({{banner[0]}});background-size: cover; background-position: center center; position: relative;">
    <div style="background-color:#474747; height:100%; width:100%; position:absolute; top:0;opacity: 0.1;"></div>
    <div class="text-info position-absolute" style="top:65vh; left:3vw;">
      <h3>Music Name</h3>
      <p>Cate1, Cate2</p>
      <button type="button" class="btn btn-info">VIEW INFO</button>
    </div>
    <div class="text-info position-absolute p-3" style="top:65vh; right:3vw; border-style:solid;border-color:#17a2b8;border-radius:7px;border-width:1px;">
      <h4>Rate Number:1000</h4>
      <p>Score:4.0</p>
    </div>
  </div>
<!-- widgets -->
  <div class="container-fluid p-5">
    <div class="row p-3">
    {% for musicName in music %}
          <div class="col-lg-3  col-md-6 py-3">
            <div class="card">
              <a href="./music/get/{{musicName.id}}">
               <img class="card-img-top" src="{{musicName.widget_url}}" alt="Card image cap">               
              </a>
              <div class="card-body">
                <h5 class="card-title">{{musicName.name}}</h5>
                <div class="float-right p-2 float-num">
                {{(musicName.total_score/musicName.score_num)|number_format(1,'.','')}}</div>
                <p class="card-text">{{musicName.singer_name}}</p>
                <p class="card-text">
                  {% for key,value in cate %}
                  {% if key == musicName.id %}
                  {{value|join(' | ')}}
                  {% endif %}
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
    {% endfor %}

    </div>
  </div>
{% endblock %}

