  {% extends "base.html" %}
  {% block content %}
  <div class="container-fluid p-5" style="">
    <div class="row p-3">
      {% for content in music %}
      <div class="col-lg-3  col-md-6 py-3">
        <div class="card">
          <a href="/StarMusic/music/get/{{content.id}}">
          <img class="card-img-top" src="{{content.widget_url}}" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">{{content.name}}</h5>
            <p class="card-text">{{content.singer_name}}</p>
              {% for key,cate in cate %}
              {% if key == content.name %}
            <p class="card-text">  
              {{cate|join(' | ')}}
            </p>
              {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
  {% endblock %}