{% extends "base.html" %}
{% block content %}
<style type="text/css">
	.border-active{
     border-bottom: 2px solid #17a2b8;
	}
</style>
<!-- video info -->
<div class="container-fluid p-0 bg-white text-info shadow mb-5 bg-white rounded" style="font-size:0;font-family: 'Lobster', cursive;">
	<div class="row">
		<div class="col-8 p-0">
		<iframe width="100%" height="480" src="{{music.youtube_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div class="col-4 pt-5 pl-5" style="font-size:19px;">
		 <h3>{{music.name}}</h3>
			<div class="py-5">
			 <p>Score:{{(music.total_score/music.score_num)|number_format(1,'.','')}}</p>
			 <p>Number of participants:{{music.score_num}}</p>
			 <p>Singer:{{music.name}}</p>
			 <p>Public Date:{{music.date}}</p>
			 <p>Categories:{{cate}}</p>
			</div>
		</div>
	</div>
</div>
<!-- Description -->
<div class="container-fluid p-3">
 <div class="row ">
 	<div class="col-10 mx-auto " >
 	    <div class="col-2 border-active my-3">
 		 <h3>Description</h3>
 	     </div>
 		 <p>{{music.description}}</p>
 	</div>
 </div>
</div>
<!-- Comments -->
<div class="container-fluid mt-5">
	<div class="row" style="line-height:5rem;">
		<div class="col-10 mx-auto " >
			<div class="col-2 border-active">
				<h3>Comments</h3>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-8 mx-auto">
			<div class="row p-0 m-5">
				<div class="col-11 p-1 m-0">
			        <textarea id="user_input" class="form-control mr-sm-2" width="7rem" height="4rem" type="search" placeholder="write sth" aria-label="Search"></textarea>
				</div>
				<div class="col-1 p-1 m-0 d-flex align-items-end">
		        	<button id="submit"class="btn btn-info my-2 my-sm-0 text-light" type="submit" data-mid="{{music.id}}">Share</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- existed comments -->
<div class="container-fluid my-5">
	{% for com in comment %}
	  	<div class="row">
		<div class="col-10 mx-auto">
			<div class="row my-3">
				<div class="col-1 text-center p-0">
				<i class="fas fa-user-secret bg-light text-info display-4"></i>
				</div>
				<div class="col-11 d-flex align-items-end p-0">
				<h5 class="m-0">UserName</h5>
				</div>
			</div>
			<p>{{com.content}}</p>
		</div>
	</div>
	{% endfor%}

</div>

{% endblock %}
